<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Tables de multiplication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="tables.js"></script>
</head>
<body ng-controller="TablesCtrl">

<div class="game">
    <div class="formula">
        <div class="message" ng-if="games > 0">
            {{message}}
        </div>

        <div class="score" ng-if="games > 0">
            Score : {{score}} / {{games}}
        </div>

        <div class="center">
            {{digit1}} x {{digit2}}
        </div>
    </div>

    <div class="answer">
        <input type="text" pattern="\d*" ng-keypress="press($event)" ng-model="answer" autofocus="autofocus" placeholder="=">
    </div>
</div>

</body>
</html>
