.game {
    text-align: center;
}

.formula {
    background-color: gold;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.answer {
    width: 410px;
    margin: 50px auto 0 auto;
}

.answer input {
    text-align: center;
    font-size: 40px;
    width: 320px;
    display: inline-block;
}

.answer button {
    text-align: center;
    font-size: 40px;
    width: 80px;
    display: inline-block;
}